In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path =  "../data/data_2019"
df = pd.read_csv(data_path + 'Plan_Attributes_PUF_2019.csv', encoding='cp1252')

/opt/homebrew/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (81,82,83,87,88,89,90,91,92,149) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
print('There are', df['IssuerId'].nunique(), 'unique IssuerIds in the data.')

There are 433 unique IssuerIds in the data.

In [4]:
print('There are', df['PlanMarketingName'].nunique(), 'unique IssuerMarketPlaceMarketingNames in the data.')

There are 2348 unique IssuerMarketPlaceMarketingNames in the data.

In [5]:
df.groupby('SourceName').agg({'IssuerId': 'nunique', 'PlanMarketingName': 'nunique'})

            IssuerId  PlanMarketingName
SourceName
HIOS             211               1197
OPM                1                  2
SERFF            222               1319

In [6]:
summary = pd.DataFrame()
summary['Column_Name'] = pd.Series(list(df.columns))
summary

                            Column_Name
0                          BusinessYear
1                             StateCode
2                              IssuerId
3                            SourceName
4                            ImportDate
..                                  ...
147                       IsHSAEligible
148        HSAOrHRAEmployerContribution
149  HSAOrHRAEmployerContributionAmount
150     URLForSummaryofBenefitsCoverage
151                        PlanBrochure

[152 rows x 1 columns]

In [7]:
DEHB_list = list(df.filter(like='TEHB').columns)
MEHB_list = list(df.filter(like='MEHB').columns)
TEHB_list = list(df.filter(like='DEHB').columns)

In [8]:
summary['Column_2'] = np.where(summary['Column_Name'].isin(TEHB_list), 1, 0 )
summary['Column_3'] = np.where(summary['Column_Name'].isin(MEHB_list), 2, 0 )
summary['Column_4'] = np.where(summary['Column_Name'].isin(DEHB_list), 3, 0 )
summary['Categories'] = summary['Column_2'] + summary['Column_3'] + summary['Column_4']
summary = summary[['Column_Name', 'Categories']]
summary

                            Column_Name  Categories
0                          BusinessYear           0
1                             StateCode           0
2                              IssuerId           0
3                            SourceName           0
4                            ImportDate           0
..                                  ...         ...
147                       IsHSAEligible           0
148        HSAOrHRAEmployerContribution           0
149  HSAOrHRAEmployerContributionAmount           0
150     URLForSummaryofBenefitsCoverage           0
151                        PlanBrochure           0

[152 rows x 2 columns]

In [9]:
lst = []
for i in list(df.columns):
    lst.append(df[i].isna().sum())
summary['Missing_Values'] = pd.Series(lst)
summary

/var/folders/bp/5t2f518d2hvd2wc1pgv4_w_40000gn/T/ipykernel_9648/3709353350.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary['Missing_Values'] = pd.Series(lst)

                            Column_Name  Categories  Missing_Values
0                          BusinessYear           0               0
1                             StateCode           0               0
2                              IssuerId           0               0
3                            SourceName           0               0
4                            ImportDate           0               0
..                                  ...         ...             ...
147                       IsHSAEligible           0            2077
148        HSAOrHRAEmployerContribution           0           15132
149  HSAOrHRAEmployerContributionAmount           0           15684
150     URLForSummaryofBenefitsCoverage           0            1283
151                        PlanBrochure           0            1854

[152 rows x 3 columns]

In [10]:
lst = []
for i in list(df.columns):
    lst.append(df[i].nunique())
summary['Unique_Values'] = pd.Series(lst)
summary

/var/folders/bp/5t2f518d2hvd2wc1pgv4_w_40000gn/T/ipykernel_9648/1866008424.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary['Unique_Values'] = pd.Series(lst)

,Column_Name,Categories,Missing_Values,Unique_Values
0,BusinessYear,0,0,1
1,StateCode,0,0,39
2,IssuerId,0,0,433
3,SourceName,0,0,3
4,ImportDate,0,0,98
...,...,...,...,...
147,IsHSAEligible,0,2077,2
148,HSAOrHRAEmployerContribution,0,15132,2
149,HSAOrHRAEmployerContributionAmount,0,15684,2
150,URLForSummaryofBenefitsCoverage,0,1283,9000
151,PlanBrochure,0,1854,3809

In [11]:
summary.to_csv('plan_summary.csv')