In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = "../data/data_2019"
df = pd.read_csv(data_path + 'ACSDP5Y2019.DP05_data_with_overlays_2022-01-14T190209.csv')

/opt/homebrew/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,2,4,6,8,10,12,16,18,20,21,22,23,24,25,26,27,28,30,32,34,36,38,40,42,44,46,48,49,50,51,52,53,54,55,56,58,60,61,62,63,64,65,66,67,68,69,72,74,76,77,78,79,80,82,84,85,86,87,88,89,90,91,92,94,96,98,100,102,104,106,108,112,114,116,118,120,122,128,130,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,250,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,278,280,282,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,302,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,344,345,346,348,349,350,351,352,353,354,355) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
print('There are', df['GEO_ID'].nunique(), 'unique GeoIDs in the data.')

There are 3221 unique GeoIDs in the data.

In [4]:
df['County'] = df['GEO_ID'].str[-5:]
df['County'] = df['County'].astype(str)  
df['County'] = df['County'].str.lstrip('0') 
df

,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,DP05_0003E,DP05_0003M,...,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM,GEO_ID,NAME,County
0,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Percent!!SEX AND AGE!!Total population!!Male,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,...,"Margin of Error!!CITIZEN, VOTING AGE POPULATIO...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citi...","Margin of Error!!CITIZEN, VOTING AGE POPULATIO...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",id,Geographic Area Name,id
1,55380,*****,55380,(X),26934,166,48.6,0.3,28446,166,...,189,47.6,0.2,21824,97,52.4,0.2,0500000US01001,"Autauga County, Alabama",1001
2,212830,*****,212830,(X),103496,233,48.6,0.1,109334,233,...,410,47.9,0.2,84925,403,52.1,0.2,0500000US01003,"Baldwin County, Alabama",1003
3,25361,*****,25361,(X),13421,80,52.9,0.3,11940,80,...,80,53.4,0.3,9199,69,46.6,0.3,0500000US01005,"Barbour County, Alabama",1005
4,22493,*****,22493,(X),12150,193,54.0,0.9,10343,193,...,102,53.6,0.4,8193,43,46.4,0.4,0500000US01007,"Bibb County, Alabama",1007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,52192,*****,52192,(X),24963,*****,47.8,*****,27229,*****,...,83,47.0,0.1,22062,80,53.0,0.1,0500000US72145,"Vega Baja Municipio, Puerto Rico",72145
3217,8642,*****,8642,(X),4277,103,49.5,1.2,4365,103,...,4,50.3,0.1,3449,16,49.7,0.1,0500000US72147,"Vieques Municipio, Puerto Rico",72147
3218,22403,*****,22403,(X),10856,*****,48.5,*****,11547,*****,...,61,47.4,0.2,9197,2,52.6,0.2,0500000US72149,"Villalba Municipio, Puerto Rico",72149
3219,33499,*****,33499,(X),16202,*****,48.4,*****,17297,*****,...,4,47.6,0.1,14129,41,52.4,0.1,0500000US72151,"Yabucoa Municipio, Puerto Rico",72151
3220,35428,*****,35428,(X),16959,*****,47.9,*****,18469,*****,...,25,46.8,0.1,15223,14,53.2,0.1,0500000US72153,"Yauco Municipio, Puerto Rico",72153

In [5]:
data_path = "../data/"
df1 = pd.read_csv(data_path + 'Service_Area_PUF_2019.csv', encoding='cp1252')
df1 = df1.dropna(subset=['County'])
df1['County'] = df1['County'].astype(str)
df2 = df1.merge(df, how='left', on=['County'])
print(df2['County'].nunique())

2461

In [6]:
print(df2['ServiceAreaId'].nunique())

243

In [7]:
df['County'].nunique()

3221

In [18]:
# Cross Product
df3 = pd.DataFrame(df2['IssuerId'].unique())
df4 = pd.DataFrame(df2['County'].unique())
print(df3)
merged = df3.merge(df4, how='cross')
#merged = merged.drop_duplicates()
merged

         0
0    21989
1    73836
2    18239
3    73301
4    13877
..     ...
197  54965
198  80352
199  88380
200  95185
201  50328

[202 rows x 1 columns]

          0_x      0_y
0       21989   2020.0
1       21989   2170.0
2       21989   2090.0
3       21989   2013.0
4       21989   2016.0
...       ...      ...
497117  50328  54099.0
497118  50328  54103.0
497119  50328  54105.0
497120  50328  54107.0
497121  50328  54109.0

[497122 rows x 2 columns]

In [9]:
issuer_county = df2[['IssuerId', 'County']]
issuer_county['Binary'] = 1
issuer_county

/var/folders/bp/5t2f518d2hvd2wc1pgv4_w_40000gn/T/ipykernel_9686/2110840728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  issuer_county['Binary'] = 1

       IssuerId   County  Binary
0         21989   2020.0       1
1         21989   2170.0       1
2         21989   2090.0       1
3         73836   2013.0       1
4         73836   2016.0       1
...         ...      ...     ...
10336     50328  54099.0       1
10337     50328  54103.0       1
10338     50328  54105.0       1
10339     50328  54107.0       1
10340     50328  54109.0       1

[10341 rows x 3 columns]

In [10]:
merged = merged.merge(issuer_county, how='left')
merged['Binary'] = merged['Binary'].fillna(0)
merged

        IssuerId   County  Binary
0          21989   2020.0     1.0
1          21989   2170.0     1.0
2          21989   2090.0     1.0
3          21989   2013.0     0.0
4          21989   2016.0     0.0
...          ...      ...     ...
499633     50328  54099.0     1.0
499634     50328  54103.0     1.0
499635     50328  54105.0     1.0
499636     50328  54107.0     1.0
499637     50328  54109.0     1.0

[499638 rows x 3 columns]

In [11]:
merged['Binary'].value_counts()

0.0    489297
1.0     10341
Name: Binary, dtype: int64